[credential]
  helper=
[user]
  name = Alessio Coser
  email = 18616553+AlessioCoser@users.noreply.github.com
[push]
  default = simple
  followTags = true
[core]
  editor = vim
  autocrlf = false
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  light = false
  line-numbers = true
  diff-so-fancy = true
[merge]
  conflictStyle = diff3
[commit]
  verbose = true
  gpgsign = true
[pull]
  rebase = true
[init]
  defaultBranch = main

